@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #35155d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    width: 360px;
    height: 400px;
    border-radius: 6px ;
    margin: 8% auto;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

h3{
    text-align: center;
    margin-bottom: 40px;
    color: black;
}

form{
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0.5ms all ease;
}

form input{
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #999 ;
    margin: 5px 0;
    background-color: transparent;
}

.btn-box{
    width: 100%;
    text-align: center;
    margin-top: 30px auto;
    display: flex;
}
form button{
    width: 110px;
    height: 35px;
    margin: 10px 15px;
    background: linear-gradient(to right, #35155d, #512b81);
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

#form2{
    left: 450px;
}

#form3{
    left: 450px;
}

.step-row{
    width: 100%;
    height: 50px;
    display:flex;
    align-items: center;
    box-shadow: 0px -1px 5px -1px #000;
    position: relative;
}
.step-col{
    width: 120px;
    color: #999;
    text-align: center;
    position: relative;
}

.progress{
    background: linear-gradient(to right, #512b81, #512b81);
    width: 120px;
    height: 50px ;
    position: absolute;
}
small{
    color:#fff;
    font-weight: 700px;
    font-size: 14px;
}

.progress::after{
    content: "";
   height: 0;
   width: 0;
   border-top: 25px solid transparent;
   border-bottom: 25px solid transparent;
   position: absolute;
   right: -20px;
   top: 0;
   border-left: 20px solid #512b81;
}