*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, 	#ff0000, 	#f08080 );
    width: 100%;
}

.container{
    width: 50px;
    height: 50px;
}
.container-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
#myButton{
    padding:8px 16px;
    background:#d8bfd8;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.container img{
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    margin-top: -150px;
    display: none;
}

.loader{
    position: relative;
    width: 40px;
    height: 40px;
    right: -5px;
    bottom: 10px;
    border: 5px solid #fff;
    border-radius: 100%;
    animation: LoaderAnimation 1s linear infinite;
    display: none;
}

.loader::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 2px solid #00aaff;
    border-radius: 100%;
    top: 5px;
    left: 2.5px;
}

.loader::after{
    content:"";
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 2px solid #00ff7f ;
    border-radius: 100%;
    bottom: 5px;
    right: 2.5px;
}

@keyframes LoaderAnimation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}


